--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assignment_tdgroups; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.assignment_tdgroups (
    assignment_id integer NOT NULL,
    tdgroup_id integer NOT NULL
);


ALTER TABLE public.assignment_tdgroups OWNER TO user_pfe;

--
-- Name: assignments; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.assignments (
    id integer NOT NULL,
    module_part_id integer,
    teacher_id integer,
    room_id integer,
    slot_id integer,
    section_id integer,
    is_locked boolean
);


ALTER TABLE public.assignments OWNER TO user_pfe;

--
-- Name: assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: user_pfe
--

CREATE SEQUENCE public.assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assignments_id_seq OWNER TO user_pfe;

--
-- Name: assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_pfe
--

ALTER SEQUENCE public.assignments_id_seq OWNED BY public.assignments.id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.departments (
    id integer NOT NULL,
    name character varying
);


ALTER TABLE public.departments OWNER TO user_pfe;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: user_pfe
--

CREATE SEQUENCE public.departments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.departments_id_seq OWNER TO user_pfe;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_pfe
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: filieres; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.filieres (
    id integer NOT NULL,
    name character varying,
    type character varying,
    dept_id integer
);


ALTER TABLE public.filieres OWNER TO user_pfe;

--
-- Name: filieres_id_seq; Type: SEQUENCE; Schema: public; Owner: user_pfe
--

CREATE SEQUENCE public.filieres_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.filieres_id_seq OWNER TO user_pfe;

--
-- Name: filieres_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_pfe
--

ALTER SEQUENCE public.filieres_id_seq OWNED BY public.filieres.id;


--
-- Name: groupe_filieres; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.groupe_filieres (
    id integer NOT NULL,
    filiere_id integer,
    semestre character varying,
    academic_year character varying,
    total_students integer
);


ALTER TABLE public.groupe_filieres OWNER TO user_pfe;

--
-- Name: groupe_filieres_id_seq; Type: SEQUENCE; Schema: public; Owner: user_pfe
--

CREATE SEQUENCE public.groupe_filieres_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.groupe_filieres_id_seq OWNER TO user_pfe;

--
-- Name: groupe_filieres_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_pfe
--

ALTER SEQUENCE public.groupe_filieres_id_seq OWNED BY public.groupe_filieres.id;


--
-- Name: groupe_module_groupes; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.groupe_module_groupes (
    groupe_module_id integer NOT NULL,
    groupe_id integer NOT NULL
);


ALTER TABLE public.groupe_module_groupes OWNER TO user_pfe;

--
-- Name: groupe_modules; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.groupe_modules (
    id integer NOT NULL,
    module_id integer,
    effectif integer
);


ALTER TABLE public.groupe_modules OWNER TO user_pfe;

--
-- Name: groupe_modules_id_seq; Type: SEQUENCE; Schema: public; Owner: user_pfe
--

CREATE SEQUENCE public.groupe_modules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.groupe_modules_id_seq OWNER TO user_pfe;

--
-- Name: groupe_modules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_pfe
--

ALTER SEQUENCE public.groupe_modules_id_seq OWNED BY public.groupe_modules.id;


--
-- Name: module_parts; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.module_parts (
    id integer NOT NULL,
    module_id integer,
    type character varying,
    weekly_hours double precision,
    required_room_type character varying
);


ALTER TABLE public.module_parts OWNER TO user_pfe;

--
-- Name: module_parts_id_seq; Type: SEQUENCE; Schema: public; Owner: user_pfe
--

CREATE SEQUENCE public.module_parts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.module_parts_id_seq OWNER TO user_pfe;

--
-- Name: module_parts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_pfe
--

ALTER SEQUENCE public.module_parts_id_seq OWNED BY public.module_parts.id;


--
-- Name: modules; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.modules (
    id integer NOT NULL,
    name character varying,
    code character varying,
    dept_id integer
);


ALTER TABLE public.modules OWNER TO user_pfe;

--
-- Name: modules_id_seq; Type: SEQUENCE; Schema: public; Owner: user_pfe
--

CREATE SEQUENCE public.modules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.modules_id_seq OWNER TO user_pfe;

--
-- Name: modules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_pfe
--

ALTER SEQUENCE public.modules_id_seq OWNED BY public.modules.id;


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.rooms (
    id integer NOT NULL,
    name character varying,
    capacity integer,
    type character varying
);


ALTER TABLE public.rooms OWNER TO user_pfe;

--
-- Name: rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: user_pfe
--

CREATE SEQUENCE public.rooms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rooms_id_seq OWNER TO user_pfe;

--
-- Name: rooms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_pfe
--

ALTER SEQUENCE public.rooms_id_seq OWNED BY public.rooms.id;


--
-- Name: section_groupes; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.section_groupes (
    section_id integer NOT NULL,
    groupe_id integer NOT NULL
);


ALTER TABLE public.section_groupes OWNER TO user_pfe;

--
-- Name: sections; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.sections (
    id integer NOT NULL,
    name character varying,
    semestre character varying,
    total_capacity integer
);


ALTER TABLE public.sections OWNER TO user_pfe;

--
-- Name: sections_id_seq; Type: SEQUENCE; Schema: public; Owner: user_pfe
--

CREATE SEQUENCE public.sections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sections_id_seq OWNER TO user_pfe;

--
-- Name: sections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_pfe
--

ALTER SEQUENCE public.sections_id_seq OWNED BY public.sections.id;


--
-- Name: td_groups; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.td_groups (
    id integer NOT NULL,
    name character varying,
    section_id integer,
    size integer
);


ALTER TABLE public.td_groups OWNER TO user_pfe;

--
-- Name: td_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: user_pfe
--

CREATE SEQUENCE public.td_groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.td_groups_id_seq OWNER TO user_pfe;

--
-- Name: td_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_pfe
--

ALTER SEQUENCE public.td_groups_id_seq OWNED BY public.td_groups.id;


--
-- Name: teachers; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.teachers (
    id integer NOT NULL,
    name character varying,
    email character varying,
    availabilities json
);


ALTER TABLE public.teachers OWNER TO user_pfe;

--
-- Name: teachers_id_seq; Type: SEQUENCE; Schema: public; Owner: user_pfe
--

CREATE SEQUENCE public.teachers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.teachers_id_seq OWNER TO user_pfe;

--
-- Name: teachers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_pfe
--

ALTER SEQUENCE public.teachers_id_seq OWNED BY public.teachers.id;


--
-- Name: timeslots; Type: TABLE; Schema: public; Owner: user_pfe
--

CREATE TABLE public.timeslots (
    id integer NOT NULL,
    day character varying,
    start_time time without time zone,
    end_time time without time zone
);


ALTER TABLE public.timeslots OWNER TO user_pfe;

--
-- Name: timeslots_id_seq; Type: SEQUENCE; Schema: public; Owner: user_pfe
--

CREATE SEQUENCE public.timeslots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.timeslots_id_seq OWNER TO user_pfe;

--
-- Name: timeslots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_pfe
--

ALTER SEQUENCE public.timeslots_id_seq OWNED BY public.timeslots.id;


--
-- Name: assignments id; Type: DEFAULT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.assignments ALTER COLUMN id SET DEFAULT nextval('public.assignments_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: filieres id; Type: DEFAULT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.filieres ALTER COLUMN id SET DEFAULT nextval('public.filieres_id_seq'::regclass);


--
-- Name: groupe_filieres id; Type: DEFAULT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.groupe_filieres ALTER COLUMN id SET DEFAULT nextval('public.groupe_filieres_id_seq'::regclass);


--
-- Name: groupe_modules id; Type: DEFAULT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.groupe_modules ALTER COLUMN id SET DEFAULT nextval('public.groupe_modules_id_seq'::regclass);


--
-- Name: module_parts id; Type: DEFAULT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.module_parts ALTER COLUMN id SET DEFAULT nextval('public.module_parts_id_seq'::regclass);


--
-- Name: modules id; Type: DEFAULT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.modules ALTER COLUMN id SET DEFAULT nextval('public.modules_id_seq'::regclass);


--
-- Name: rooms id; Type: DEFAULT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.rooms ALTER COLUMN id SET DEFAULT nextval('public.rooms_id_seq'::regclass);


--
-- Name: sections id; Type: DEFAULT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.sections ALTER COLUMN id SET DEFAULT nextval('public.sections_id_seq'::regclass);


--
-- Name: td_groups id; Type: DEFAULT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.td_groups ALTER COLUMN id SET DEFAULT nextval('public.td_groups_id_seq'::regclass);


--
-- Name: teachers id; Type: DEFAULT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.teachers ALTER COLUMN id SET DEFAULT nextval('public.teachers_id_seq'::regclass);


--
-- Name: timeslots id; Type: DEFAULT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.timeslots ALTER COLUMN id SET DEFAULT nextval('public.timeslots_id_seq'::regclass);


--
-- Data for Name: assignment_tdgroups; Type: TABLE DATA; Schema: public; Owner: user_pfe
--



--
-- Data for Name: assignments; Type: TABLE DATA; Schema: public; Owner: user_pfe
--



--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: user_pfe
--

COPY public.departments (id, name) FROM stdin;
1	Biologie
2	G├®ologie
3	Informatique
4	Physique
5	Chimie
6	Langues
7	Math├®matiques
\.


--
-- Data for Name: filieres; Type: TABLE DATA; Schema: public; Owner: user_pfe
--

COPY public.filieres (id, name, type, dept_id) FROM stdin;
1	GB	TC	1
2	GEG	TC	2
3	MSD	TC	7
4	GC	TC	2
5	GESE	TC	4
6	GI	TC	3
7	GP	TC	4
\.


--
-- Data for Name: groupe_filieres; Type: TABLE DATA; Schema: public; Owner: user_pfe
--

COPY public.groupe_filieres (id, filiere_id, semestre, academic_year, total_students) FROM stdin;
1	1	S2	2025-2026	45
2	2	S2	2025-2026	45
3	3	S2	2025-2026	45
4	4	S2	2025-2026	45
5	5	S2	2025-2026	45
6	6	S2	2025-2026	45
7	7	S2	2025-2026	45
8	1	S4	2025-2026	48
9	2	S4	2025-2026	48
10	3	S4	2025-2026	48
11	4	S4	2025-2026	48
12	5	S4	2025-2026	48
13	6	S4	2025-2026	48
14	7	S4	2025-2026	48
\.


--
-- Data for Name: groupe_module_groupes; Type: TABLE DATA; Schema: public; Owner: user_pfe
--



--
-- Data for Name: groupe_modules; Type: TABLE DATA; Schema: public; Owner: user_pfe
--

COPY public.groupe_modules (id, module_id, effectif) FROM stdin;
1	1	90
2	2	135
3	3	90
4	4	90
5	5	315
6	6	315
7	7	90
8	8	225
9	9	225
10	10	135
11	11	225
12	12	90
13	13	90
14	14	192
15	15	144
16	16	336
17	17	336
18	18	96
19	19	96
20	20	192
21	21	48
22	22	48
23	23	48
24	24	144
25	25	48
26	26	48
27	27	48
28	28	48
29	29	48
30	30	48
31	31	48
32	32	48
34	34	48
35	35	96
36	36	48
37	37	48
38	38	48
40	40	48
41	41	48
\.


--
-- Data for Name: module_parts; Type: TABLE DATA; Schema: public; Owner: user_pfe
--



--
-- Data for Name: modules; Type: TABLE DATA; Schema: public; Owner: user_pfe
--



--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: user_pfe
--



--
-- Data for Name: section_groupes; Type: TABLE DATA; Schema: public; Owner: user_pfe
--

COPY public.section_groupes (section_id, groupe_id) FROM stdin;
1	2
1	1
2	5
2	3
2	4
3	7
3	6
4	13
5	14
6	11
7	12
8	10
9	8
10	9
\.


--
-- Data for Name: sections; Type: TABLE DATA; Schema: public; Owner: user_pfe
--

COPY public.sections (id, name, semestre, total_capacity) FROM stdin;
1	GB-GEG S2	S2	90
2	MSD-GC-GESE S2	S2	135
3	GP-GI S2	S2	90
4	GI S4	S4	48
5	GP S4	S4	48
6	GC S4	S4	48
7	GESE S4	S4	48
8	MSD S4	S4	48
9	GB S4	S4	48
10	GEG S4	S4	48
\.


--
-- Data for Name: td_groups; Type: TABLE DATA; Schema: public; Owner: user_pfe
--



--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: user_pfe
--



--
-- Data for Name: timeslots; Type: TABLE DATA; Schema: public; Owner: user_pfe
--



--
-- Name: assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_pfe
--

SELECT pg_catalog.setval('public.assignments_id_seq', 1511, true);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_pfe
--

SELECT pg_catalog.setval('public.departments_id_seq', 7, true);


--
-- Name: filieres_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_pfe
--

SELECT pg_catalog.setval('public.filieres_id_seq', 7, true);


--
-- Name: groupe_filieres_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_pfe
--

SELECT pg_catalog.setval('public.groupe_filieres_id_seq', 14, true);


--
-- Name: groupe_modules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_pfe
--

SELECT pg_catalog.setval('public.groupe_modules_id_seq', 41, true);


--
-- Name: module_parts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_pfe
--

SELECT pg_catalog.setval('public.module_parts_id_seq', 82, true);


--
-- Name: modules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_pfe
--

SELECT pg_catalog.setval('public.modules_id_seq', 41, true);


--
-- Name: rooms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_pfe
--

SELECT pg_catalog.setval('public.rooms_id_seq', 122, true);


--
-- Name: sections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_pfe
--

SELECT pg_catalog.setval('public.sections_id_seq', 10, true);


--
-- Name: td_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_pfe
--

SELECT pg_catalog.setval('public.td_groups_id_seq', 32, true);


--
-- Name: teachers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_pfe
--

SELECT pg_catalog.setval('public.teachers_id_seq', 230, true);


--
-- Name: timeslots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_pfe
--

SELECT pg_catalog.setval('public.timeslots_id_seq', 24, true);


--
-- Name: assignment_tdgroups assignment_tdgroups_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.assignment_tdgroups
    ADD CONSTRAINT assignment_tdgroups_pkey PRIMARY KEY (assignment_id, tdgroup_id);


--
-- Name: assignments assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_pkey PRIMARY KEY (id);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: filieres filieres_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.filieres
    ADD CONSTRAINT filieres_pkey PRIMARY KEY (id);


--
-- Name: groupe_filieres groupe_filieres_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.groupe_filieres
    ADD CONSTRAINT groupe_filieres_pkey PRIMARY KEY (id);


--
-- Name: groupe_module_groupes groupe_module_groupes_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.groupe_module_groupes
    ADD CONSTRAINT groupe_module_groupes_pkey PRIMARY KEY (groupe_module_id, groupe_id);


--
-- Name: groupe_modules groupe_modules_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.groupe_modules
    ADD CONSTRAINT groupe_modules_pkey PRIMARY KEY (id);


--
-- Name: module_parts module_parts_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.module_parts
    ADD CONSTRAINT module_parts_pkey PRIMARY KEY (id);


--
-- Name: modules modules_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_pkey PRIMARY KEY (id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: section_groupes section_groupes_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.section_groupes
    ADD CONSTRAINT section_groupes_pkey PRIMARY KEY (section_id, groupe_id);


--
-- Name: sections sections_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_pkey PRIMARY KEY (id);


--
-- Name: td_groups td_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.td_groups
    ADD CONSTRAINT td_groups_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_email_key; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_email_key UNIQUE (email);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: timeslots timeslots_pkey; Type: CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.timeslots
    ADD CONSTRAINT timeslots_pkey PRIMARY KEY (id);


--
-- Name: ix_assignments_id; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_assignments_id ON public.assignments USING btree (id);


--
-- Name: ix_departments_id; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_departments_id ON public.departments USING btree (id);


--
-- Name: ix_departments_name; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE UNIQUE INDEX ix_departments_name ON public.departments USING btree (name);


--
-- Name: ix_filieres_id; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_filieres_id ON public.filieres USING btree (id);


--
-- Name: ix_filieres_name; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_filieres_name ON public.filieres USING btree (name);


--
-- Name: ix_groupe_filieres_id; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_groupe_filieres_id ON public.groupe_filieres USING btree (id);


--
-- Name: ix_groupe_modules_id; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_groupe_modules_id ON public.groupe_modules USING btree (id);


--
-- Name: ix_groupe_modules_module_id; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE UNIQUE INDEX ix_groupe_modules_module_id ON public.groupe_modules USING btree (module_id);


--
-- Name: ix_module_parts_id; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_module_parts_id ON public.module_parts USING btree (id);


--
-- Name: ix_modules_code; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE UNIQUE INDEX ix_modules_code ON public.modules USING btree (code);


--
-- Name: ix_modules_id; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_modules_id ON public.modules USING btree (id);


--
-- Name: ix_modules_name; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_modules_name ON public.modules USING btree (name);


--
-- Name: ix_rooms_id; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_rooms_id ON public.rooms USING btree (id);


--
-- Name: ix_rooms_name; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE UNIQUE INDEX ix_rooms_name ON public.rooms USING btree (name);


--
-- Name: ix_sections_id; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_sections_id ON public.sections USING btree (id);


--
-- Name: ix_sections_name; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_sections_name ON public.sections USING btree (name);


--
-- Name: ix_td_groups_id; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_td_groups_id ON public.td_groups USING btree (id);


--
-- Name: ix_td_groups_name; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_td_groups_name ON public.td_groups USING btree (name);


--
-- Name: ix_teachers_id; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_teachers_id ON public.teachers USING btree (id);


--
-- Name: ix_teachers_name; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_teachers_name ON public.teachers USING btree (name);


--
-- Name: ix_timeslots_id; Type: INDEX; Schema: public; Owner: user_pfe
--

CREATE INDEX ix_timeslots_id ON public.timeslots USING btree (id);


--
-- Name: assignment_tdgroups assignment_tdgroups_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.assignment_tdgroups
    ADD CONSTRAINT assignment_tdgroups_assignment_id_fkey FOREIGN KEY (assignment_id) REFERENCES public.assignments(id);


--
-- Name: assignment_tdgroups assignment_tdgroups_tdgroup_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.assignment_tdgroups
    ADD CONSTRAINT assignment_tdgroups_tdgroup_id_fkey FOREIGN KEY (tdgroup_id) REFERENCES public.td_groups(id);


--
-- Name: assignments assignments_module_part_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_module_part_id_fkey FOREIGN KEY (module_part_id) REFERENCES public.module_parts(id);


--
-- Name: assignments assignments_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id);


--
-- Name: assignments assignments_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.sections(id);


--
-- Name: assignments assignments_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_slot_id_fkey FOREIGN KEY (slot_id) REFERENCES public.timeslots(id);


--
-- Name: assignments assignments_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id);


--
-- Name: filieres filieres_dept_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.filieres
    ADD CONSTRAINT filieres_dept_id_fkey FOREIGN KEY (dept_id) REFERENCES public.departments(id);


--
-- Name: groupe_filieres groupe_filieres_filiere_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.groupe_filieres
    ADD CONSTRAINT groupe_filieres_filiere_id_fkey FOREIGN KEY (filiere_id) REFERENCES public.filieres(id);


--
-- Name: groupe_module_groupes groupe_module_groupes_groupe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.groupe_module_groupes
    ADD CONSTRAINT groupe_module_groupes_groupe_id_fkey FOREIGN KEY (groupe_id) REFERENCES public.groupe_filieres(id);


--
-- Name: groupe_module_groupes groupe_module_groupes_groupe_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.groupe_module_groupes
    ADD CONSTRAINT groupe_module_groupes_groupe_module_id_fkey FOREIGN KEY (groupe_module_id) REFERENCES public.groupe_modules(id);


--
-- Name: groupe_modules groupe_modules_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.groupe_modules
    ADD CONSTRAINT groupe_modules_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id);


--
-- Name: module_parts module_parts_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.module_parts
    ADD CONSTRAINT module_parts_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id);


--
-- Name: modules modules_dept_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_dept_id_fkey FOREIGN KEY (dept_id) REFERENCES public.departments(id);


--
-- Name: section_groupes section_groupes_groupe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.section_groupes
    ADD CONSTRAINT section_groupes_groupe_id_fkey FOREIGN KEY (groupe_id) REFERENCES public.groupe_filieres(id);


--
-- Name: section_groupes section_groupes_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.section_groupes
    ADD CONSTRAINT section_groupes_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.sections(id);


--
-- Name: td_groups td_groups_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_pfe
--

ALTER TABLE ONLY public.td_groups
    ADD CONSTRAINT td_groups_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.sections(id);


--
-- PostgreSQL database dump complete
--

